spring:
  config:
    activate:
      on-profile: ${SPRING_PROFILES_ACTIVE}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL}
    show-sql: true
    properties:
      hibernate:
        format_sql: true